# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\md2\MD3-thiet-ke-bo-cuc-trang-web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
